@use "@/styles/mediaQueries.scss";

@keyframes fadeInOut {
  // 0% {
  //   opacity: 0;
  // }

  // 20% {
  //   opacity: 0;
  // }

  // 30% {
  //   opacity: 1;
  // }

  // 75% {
  //   opacity: 1;
  // }

  // 85% {
  //   opacity: 0;
  // }

  // 100% {
  //   opacity: 0;
  // }

  0%,
  15%,
  85%,
  100% {
    opacity: 0;
  }

  30%,
  75% {
    opacity: 1;
  }
}

.bg_image_wrapper {
  position: absolute;
  z-index: 1;
  overflow: hidden;

  @include mediaQueries.tablet-large {
    display: none;
  }

  &_desktop {
    display: none;

    @include mediaQueries.tablet-large {
      display: block;
      position: absolute;
      z-index: 1;
      overflow: hidden;
    }
  }

  &_transition {
    &_1 {
      // don't animate to avoid timing issues due to stacking context
    }

    &_2 {
      animation: fadeInOut 16s infinite;
      animation-delay: 2s;
      opacity: 0;
    }
  }
}

.bg_image {
  position: relative !important;
  object-fit: contain;
  overflow: hidden;

  &_desktop {
    position: relative;
    width: 110% !important;
    height: unset !important;
  }
}

.texture_desktop {
  position: relative;
  width: 150% !important;
  height: unset !important;
}

.texture {
  filter: brightness(130%);
}
