@use "@/styles/variables.scss";
@use "@/styles/glassmorphism.scss";
@use "@/styles/mediaQueries";

@mixin primaryStyle {
  height: variables.$nav-height-mobile;
  font-size: variables.$fs-300;

  @include mediaQueries.tablet {
    height: variables.$nav-height-tablet;
  }
  @include mediaQueries.tablet-large {
    height: variables.$nav-height-tablet-large;
  }
  @include mediaQueries.desktop {
    height: variables.$nav-height-desktop;
  }
}

@mixin optionStyle {
  gap: 0.2rem;
  .num {
    font-size: calc(variables.$fs-300 / 1.4);
  }
}
