@use "@/styles/variables.scss";
@use "@/styles/glassmorphism.scss";

@mixin primaryStyle {
  height: variables.$nav-height;
  font-size: variables.$fs-300;
}

@mixin optionStyle {
  gap: 0.2rem;
  .num {
    font-size: calc(variables.$fs-300 / 1.4);
  }
}
