@use "@/styles/variables.scss";
@use "@/styles/mediaQueries.scss";
@use "@/styles/contentFadeMixin.scss";

.show {
  grid-template-columns: 100%;
  padding: 0.75rem 0 0.75rem 0;
  border-bottom: solid 0.5px variables.$color-neutral-200;

  @include contentFadeMixin.content_fade(
    $delay: calc(contentFadeMixin.$standard_delay * 1.5)
  );

  @include mediaQueries.tablet {
    grid-template-columns: repeat(4, 25%);
  }

  &_info {
    justify-content: flex-start;

    @include mediaQueries.tablet {
      justify-content: center;
    }
  }

  &:last-child {
    border-bottom: none;
  }
}

.time {
  flex-direction: column;

  @include mediaQueries.tablet {
    flex-direction: row;
  }
}
