@use "@/styles/mediaQueries.scss";

.main {
  height: 100dvh;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-direction: column;
  overflow-y: scroll;
  overflow-x: hidden;
}

.image_wrapper {
  z-index: 1;
  overflow: hidden;
  mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1) 60%,
    rgba(0, 0, 0, 0)
  );

  @include mediaQueries.tablet-large {
    display: block;
    position: absolute;
    z-index: 1;
    overflow: hidden;
  }
}

.image {
  position: relative !important;
  object-fit: contain;
  overflow: hidden;
  right: 50px;
  bottom: 400px;

  @include mediaQueries.tablet-large {
    bottom: 100px;
  }
}
