@use "@/styles/mediaQueries.scss";

.main {
  height: 130dvh;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow-y: scroll;
  overflow-x: hidden;

  @include mediaQueries.tablet-large {
    grid-template-columns: 40% 60%;
    height: 100dvh;
  }
}

.image_wrapper {
  z-index: 1;
  // border: solid 1px red;
  overflow: hidden;
  height: 100%;
  width: 100%;
  mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1) 60%,
    rgba(0, 0, 0, 0)
  );

  @include mediaQueries.tablet-large {
    z-index: 1;
    overflow: hidden;
  }
}

.image {
  position: relative !important;
  width: 100%;
  object-fit: contain;
  overflow: hidden;
  bottom: 535px;

  @include mediaQueries.tablet {
    bottom: 370px;
  }

  @include mediaQueries.tablet-large {
    width: 120%;
    right: 50px;
    bottom: 500px;
    // width: 120%;
  }

  @include mediaQueries.desktop {
    width: 120%;
    right: 50px;
    bottom: 400px;
    // width: 120%;
  }
}

.text_wrapper {
  // padding-inline: 2rem;
  // // padding-inline: 5rem;
  // @include mediaQueries.tablet-large {
  //   padding-inline: 8rem;
  // }
}
