@use "@/styles/mediaQueries.scss";

.socials_wrapper {
  display: none;
  @include mediaQueries.tablet-large {
    display: inline;
  }
}

.a {
  padding: 0rem 0.8rem;
}

.fb_wrapper {
  padding-left: 0.1rem;
}

.sc_wrapper {
  padding-inline: 0.5rem;
}
