@use "@/styles/mediaQueries.scss";

.socials_wrapper {
  display: none;
  @include mediaQueries.tablet-large {
    display: inline;
  }
}

.a {
  padding: 0rem 0.8rem;
}

.sc_icon {
  padding-top: 0.2rem;
}

.fb_wrapper {
  padding-left: 0.3rem;
}
