@use "@/styles/variables";

.main {
  min-height: 100dvh;
  position: relative;
  padding-bottom: 5rem;
}

.content_wrapper {
  padding-top: variables.$content-nav-padding;
}

.title {
  padding-bottom: 1rem;
}

.releases_wrapper {
  gap: 5rem;
}
