@use "@/styles/variables";

.main {
  // min-height: 10dvh;
  position: relative;
  min-height: 90dvh;
}

.content_wrapper {
  padding-top: variables.$content-nav-padding;
  padding-bottom: 8rem;
}

.title {
  padding-bottom: 1rem;
}
